/*body{
  background-image: url(images/corps.png);
} */
* {
    box-sizing: border-box;
}
body{text-align:center;
}
h1 {
    text-align: center;
    font-size: 45px;
}
#corps {
    background-image: url('images/corps.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 192px;
    position: relative;
}
main {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 540px;
    margin-bottom: 80px;
    position: relative;
    width: 402px;

    /* besoin width précis pour les absolute qui se réfèrent au main */
}

#placeholder {
    width: 210px;
}

.desc {
    height: 0.5%;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: left;
    overflow: hidden;

    filter: opacity(0%);
    transition: filter 300ms;
}

.cercle {
    background-color: black;
    border-radius: 50%;
    height: 62px;
    width: 62px;
    filter: opacity(70%);
    z-index: 9;
}

.cercle:hover {
    background-color: red;
}

/* positionnements et relations descriptions */
#epaule {
position:absolute;
margin-right:30%;
margin-top: 70px;

}

#epaule:hover ~ #placeholder #desc-epaule {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}
#coude {
position:absolute;
margin-right:75%;
margin-top: 170px;

}

#coude:hover ~ #placeholder #desc-coude {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}
#hanche {
position:absolute;
margin-right:40%;
margin-top: 240px;

}

#hanche:hover ~ #placeholder #desc-hanche {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}
#genou {
position:absolute;
margin-right:70%;
margin-top: 360px;

}

#genou:hover ~ #placeholder #desc-genou {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}

a {
    outline:none;
}
